body {
    margin: 20px 50px; 
    }

    
h1 {
    font-size: 1.5em; 
    }

ul {
    list-style-type: none;
}

.tâche {
    letter-spacing: 0.5px;
}

input[type="checkbox"] { 
  height: 20px; 
  width: 20px; 
  margin-right: 10px;
}	

.ready {
    font-size: 1.5em; 
}

.ui-progressbar-label {
  
}

.progressbar-container {
  position: relative;
  width: 350px; 
}

.progressbar-bar { 
background-color: #ddd;
height: 25px;
margin: 10px 0;
border-radius: 12px;
}

.progressbar-label {
  text-align: center;
  width: 1px;
  height: 25px;
  margin: 10px 0;
  border-radius: 12px;
}


#mam{
  background-color: red;
}